In [6]:
import os
directory = os.getcwd()
sample_folder = '\\res'
res_folder = '\\res\\trn'
os.chdir(directory+res_folder)

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'C:\\Users\\20181270\\OneDrive - TU Eindhoven\\PhD\\TRNSYS\\Publication1\\pub_1\\src\\res\\trn\\res\\trn'

In [2]:
import numpy as np
import pandas as pd
test = os.listdir()
avl_labels_og = [] # avaliable labels in the 
for i in test:
    if '_temp_flow' in i:
        prefix = i[:-14]
    elif '_control_signal' in i:
        prefix = i[:-19]
    elif '_energy' in i:
        prefix = i[:-11]
    else:
        continue
    avl_labels_og.append(prefix)
print(len(avl_labels_og))        
avl_labels_og = np.array(avl_labels_og)
avl_labels_og = np.unique(avl_labels_og)
print(len(avl_labels_og))
avl_labels_og

792
264

array(['0', '1', '10', '100', '101', '102', '103', '104', '105', '106',
       '107', '108', '109', '11', '110', '111', '112', '113', '114',
       '115', '116', '117', '118', '119', '12', '120', '121', '122',
       '123', '124', '125', '126', '127', '128', '129', '13', '130',
       '131', '132', '133', '134', '135', '136', '137', '138', '139',
       '14', '140', '141', '142', '143', '144', '145', '146', '147',
       '148', '149', '15', '150', '151', '152', '153', '154', '155',
       '156', '157', '158', '159', '16', '160', '161', '162', '163',
       '164', '165', '166_cp', '167_cp', '168_cp', '169_cp', '17',
       '170_cp', '171_cp', '172_cp', '173_cp', '174_cp', '175_cp',
       '176_cp', '177_cp', '178_cp', '179_cp', '18', '180_cp', '181',
       '182_cp', '183_cp', '184_cp', '185_cp', '186_cp', '187_cp',
       '188_cp', '189_cp', '19', '190_cp', '191_cp', '192_cp', '193_cp',
       '194_cp', '195_cp', '196_cp', '197_cp', '198_cp', '199_cp', '2',
       '20', '200_cp', '201_cp', '202', '203', '204', '205', '206', '207',
       '208', '209', '21', '210', '211', '212', '213', '214', '215',
       '216', '217', '218', '219', '22', '220', '221', '222', '223',
       '224', '225', '226', '227', '228', '229', '23', '230', '231',
       '232', '233', '234', '235', '236', '237', '238', '239', '24',
       '240', '241', '242', '243', '244', '245', '246', '247', '248',
       '249', '25', '250', '251', '252', '253', '254', '255', '256',
       '257', '258', '259', '26', '260', '261', '262', '27', '28', '29',
       '3', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39',
       '4', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49',
       '5', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59',
       '6', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69',
       '7', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79',
       '8', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89',
       '9', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99',
       'x'], dtype='<U6')

In [3]:
import re
avl_labels = np.array([re.search(r'\d+', item).group() for item in avl_labels_og if re.search(r'\d+', item)])
len(avl_labels)

263

In [4]:
os.chdir(directory + sample_folder)
#previous = np.arange(86)
#previous = previous.astype(str)
#previous = pd.DataFrame(previous, columns=['label'])

previous = pd.concat([pd.read_csv('morris_sample_st.csv'),
                     pd.read_csv('morris_sample_st2.csv'),
                     pd.read_csv('morris_sample_pvt.csv'),
                     pd.read_csv('morris_sample_pvt2.csv'),
                     pd.read_csv('morris_sample_cp.csv')],
                    ignore_index=True)
previous = previous.drop_duplicates(ignore_index=True)
previous

     volume  coll_area  flow_rate design_case r_level
0       0.4        8.0        200          ST      r0
1       0.2        8.0        200          ST      r0
2       0.2       20.0        200          ST      r0
3       0.2       20.0        100          ST      r0
4       0.1        8.0        100          ST      r0
..      ...        ...        ...         ...     ...
176     0.3        8.0        200       cp_PV      r0
177     0.4       16.0        200       cp_PV      r0
178     0.4        4.0        200       cp_PV      r0
179     0.2        4.0        200       cp_PV      r0
180     0.4        8.0        200       cp_PV      r0

[181 rows x 5 columns]

In [19]:
df1 = pd.read_csv('morris_sample_st.csv')
df2 = pd.read_csv('morris_sample_st2.csv')
df3 = pd.read_csv('morris_sample_pvt.csv')
df4 = pd.read_csv('morris_sample_pvt2.csv')
dfnew = pd.concat([df1,df2,df3,df4,
                   pd.read_csv('morris_sample_cp.csv'),
                   pd.read_csv('morris_sample_cp2.csv'),
                   pd.read_csv('morris_sample_batt1.csv')])

dfnew.index = np.arange(len(dfnew))
dfnew = dfnew.drop_duplicates()
dfnew.index = np.arange(len(dfnew))
current_list = pd.merge(dfnew, previous, how='outer', indicator=True)
current_list = current_list[current_list['_merge'] == 'left_only']
current_list.drop(columns=['_merge'], inplace=True)
current_list.index = np.arange(181, 181+len(current_list))
current_list

     volume  coll_area  flow_rate design_case r_level
181    0.20     20.000        200       cp_PV      r1
182    0.20     20.000        200       cp_PV      r0
183    0.25     20.000        200       cp_PV      r0
184    0.25      4.000        200       cp_PV      r0
185    0.25      0.001        200       cp_PV      r0
..      ...        ...        ...         ...     ...
258    0.25     20.000        200  PVT_Batt_9      r0
259    0.25     20.000        200  PVT_Batt_6      r0
260    0.20      8.000         50  PVT_Batt_6      r0
261    0.15      8.000        100  PVT_Batt_9      r1
262    0.20      8.000        100  PVT_Batt_6      r1

[82 rows x 5 columns]

In [26]:
total_labels = pd.concat([previous,current_list], ignore_index=False).index
total_labels=total_labels.astype(str)
total_labels=total_labels.values
len(total_labels)

263

In [21]:
missing = set(total_labels)-set(avl_labels)
missing

set()

In [5]:
# check length of all files and flag the onces that are incomplete
os.chdir(directory+res_folder)
import pandas as pd
for i in avl_labels_og:
    df = pd.read_csv(i+'_control_signal.txt', delimiter=',',index_col=0) 
    if len(df) <87601 :
        print(i + ' len = '+str(len(df)))

x len = 401

In [31]:
slice_list = [262]
df2 = dfnew.iloc[dfnew.index.isin(slice_list)]
df2

     volume  coll_area  flow_rate design_case r_level
262     0.2        8.0        100  PVT_Batt_6      r1

In [32]:
df2.to_csv('missed_sims2.csv',index_label='label')

In [24]:
sim_results = pd.read_csv('sim_results.csv')
sim_results['lab'] = sim_results['lab'].astype(int)
len(sim_results)

163

In [17]:
dfnew.index[107]

107

In [45]:
x = list(sim_results['lab'])
y = list(dfnew.index)
list(set(y)-set(x))

[164, 165, 150]