In [1]:
import os
directory = os.getcwd()
res_folder = '\\res\\trn'
os.chdir(directory+res_folder)

In [2]:
test = os.listdir()
avl_labels = [] # avaliable labels in the 
for i in test:
    if '_temp_flow' in i:
        prefix = i[:-14]
    elif '_control_signal' in i:
        prefix = i[:-19]
    elif '_energy' in i:
        prefix = i[:-11]
    else:
        continue
    avl_labels.append(prefix)
print(len(avl_labels))        
avl_labels

261

['0',
 '0',
 '0',
 '10',
 '10',
 '10',
 '11',
 '11',
 '11',
 '12',
 '12',
 '12',
 '13',
 '13',
 '13',
 '14',
 '14',
 '14',
 '15',
 '15',
 '15',
 '16',
 '16',
 '16',
 '17',
 '17',
 '17',
 '18',
 '18',
 '18',
 '19',
 '19',
 '19',
 '1',
 '1',
 '1',
 '20',
 '20',
 '20',
 '21',
 '21',
 '21',
 '22',
 '22',
 '22',
 '23',
 '23',
 '23',
 '24',
 '24',
 '24',
 '25',
 '25',
 '25',
 '26',
 '26',
 '26',
 '27',
 '27',
 '27',
 '28',
 '28',
 '28',
 '29',
 '29',
 '29',
 '2',
 '2',
 '2',
 '30',
 '30',
 '30',
 '31',
 '31',
 '31',
 '32',
 '32',
 '32',
 '33',
 '33',
 '33',
 '34',
 '34',
 '34',
 '35',
 '35',
 '35',
 '36',
 '36',
 '36',
 '37',
 '37',
 '37',
 '38',
 '38',
 '38',
 '39',
 '39',
 '39',
 '3',
 '3',
 '3',
 '40',
 '40',
 '40',
 '41',
 '41',
 '41',
 '42',
 '42',
 '42',
 '43',
 '43',
 '43',
 '44',
 '44',
 '44',
 '45',
 '45',
 '45',
 '46',
 '46',
 '46',
 '47',
 '47',
 '47',
 '48',
 '48',
 '48',
 '49',
 '49',
 '49',
 '4',
 '4',
 '4',
 '50',
 '50',
 '50',
 '51',
 '51',
 '51',
 '52',
 '52',
 '52',
 '53',
 '53',
 '53',
 '54',
 '54',
 '54',
 '55',
 '55',
 '55',
 '56',
 '56',
 '56',
 '57',
 '57',
 '57',
 '58',
 '58',
 '58',
 '59',
 '59',
 '59',
 '5',
 '5',
 '5',
 '60',
 '60',
 '60',
 '61',
 '61',
 '61',
 '62',
 '62',
 '62',
 '63',
 '63',
 '63',
 '64',
 '64',
 '64',
 '65',
 '65',
 '65',
 '66',
 '66',
 '66',
 '67',
 '67',
 '67',
 '68',
 '68',
 '68',
 '69',
 '69',
 '69',
 '6',
 '6',
 '6',
 '70',
 '70',
 '70',
 '71',
 '71',
 '71',
 '72',
 '72',
 '72',
 '73',
 '73',
 '73',
 '74',
 '74',
 '74',
 '75',
 '75',
 '75',
 '76',
 '76',
 '76',
 '77',
 '77',
 '77',
 '78',
 '78',
 '78',
 '79',
 '79',
 '79',
 '7',
 '7',
 '7',
 '80',
 '80',
 '80',
 '81',
 '81',
 '81',
 '82',
 '82',
 '82',
 '83',
 '83',
 '83',
 '84',
 '84',
 '84',
 '85',
 '85',
 '85',
 '8',
 '8',
 '8',
 '9',
 '9',
 '9',
 'x',
 'x',
 'x']

In [3]:
import numpy as np
avl_labels = np.array(avl_labels)
avl_labels = np.unique(avl_labels)
avl_labels

array(['0', '1', '10', '11', '12', '13', '14', '15', '16', '17', '18',
       '19', '2', '20', '21', '22', '23', '24', '25', '26', '27', '28',
       '29', '3', '30', '31', '32', '33', '34', '35', '36', '37', '38',
       '39', '4', '40', '41', '42', '43', '44', '45', '46', '47', '48',
       '49', '5', '50', '51', '52', '53', '54', '55', '56', '57', '58',
       '59', '6', '60', '61', '62', '63', '64', '65', '66', '67', '68',
       '69', '7', '70', '71', '72', '73', '74', '75', '76', '77', '78',
       '79', '8', '80', '81', '82', '83', '84', '85', '9', 'x'],
      dtype='<U2')

In [ ]:
# check length of all files and flag the onces that are incomplete
import pandas as pd
for i in avl_labels:
    df = pd.read_csv(i+'_control_signal.txt', delimiter=',',index_col=0) 
    if len(df) <87601 :
        print(i + ' len = '+str(len(df)))

58 len = 86834

In [88]:
list_sample = pd.DataFrame(columns = ['flow_rate','volume','coll_area'])
for i in np.arange(30):
    parameters = pd.read_csv(str(i)+'.txt', delimiter='\t', header=None)
    parameters = parameters.transpose()
    parameters.columns = parameters.iloc[0]
    parameters=parameters.drop(parameters.index[0])
    list_sample.loc[i]=parameters.iloc[0]

In [89]:
list_sample

    flow_rate  volume  area
0       200.0     0.4   8.0
1       200.0     0.2   8.0
2       200.0     0.2  20.0
3       100.0     0.2  20.0
4       100.0     0.1   8.0
5       100.0     0.1  20.0
6       100.0     0.3  20.0
7       200.0     0.3  20.0
8       100.0     0.3   4.0
9       100.0     0.1   4.0
10      200.0     0.1   4.0
11      200.0     0.1  16.0
12      200.0     0.1  20.0
13      200.0     0.3   8.0
14      100.0     0.3   8.0
15       50.0     0.1   8.0
16       50.0     0.1  20.0
17       50.0     0.3  20.0
18       50.0     0.3   8.0
19      100.0     0.4  20.0
20      100.0     0.4   8.0
21      100.0     0.1  16.0
22       50.0     0.1  16.0
23      100.0     0.4  16.0
24      100.0     0.4   4.0
25       50.0     0.4   4.0
26       50.0     0.2   4.0
27       50.0     0.3  16.0
28      100.0     0.2   4.0
29      100.0     0.2  16.0

In [10]:
import pandas as pd
os.chdir('C:/Users/20181270/OneDrive - TU Eindhoven/PhD/TRNSYS/Publication1/pub_1/src/res')

df1 = pd.read_csv('morris_st_sample.csv')
df2 = pd.read_csv('morris_pvt_sample.csv')
dfmorris = pd.concat([df1,df2])
df = dfmorris.drop_duplicates()
df.index = np.arange(len(df))

In [11]:
print(len(df1))
print(len(df2))
print(len(df))

128
128
86

In [90]:
df

    volume  coll_area  flow_rate design_case
0      0.4          8        200          ST
1      0.2          8        200          ST
2      0.2         20        200          ST
3      0.2         20        100          ST
4      0.1          8        100          ST
..     ...        ...        ...         ...
81     0.4         16        200         PVT
82     0.1          8        200         PVT
83     0.4         16         50         PVT
84     0.2         16         50         PVT
85     0.3         16        200         PVT

[86 rows x 4 columns]

In [36]:
sobol_labels = []
for i in range(len(df)):
    sobol_labels.append(dfsobol['design_case'][i]+'_V'+str(dfsobol['volume'][i]).replace('.','_')+'_A'+str(dfsobol['coll_area'][i]))
sobol_labels = np.array(sobol_labels)
len(sobol_labels)

86

In [42]:
result = np.concatenate((labels, sobol_labels))

In [43]:
# missing samples from simulation results
set(sobol_labels) - set(labels2)

{'ST_V0_1_A16',
 'ST_V0_1_A20',
 'ST_V0_1_A8',
 'ST_V0_2_A16',
 'ST_V0_2_A20',
 'ST_V0_2_A8',
 'ST_V0_3_A16',
 'ST_V0_3_A20',
 'ST_V0_3_A8',
 'ST_V0_4_A16',
 'ST_V0_4_A20',
 'ST_V0_4_A8'}

In [33]:
sobol_label2 = dfsobol.drop_duplicates()
len(sobol_label2)

86

In [26]:
# add design case to each output file
import pandas as pd
os.chdir('C:/Users/20181270/OneDrive - TU Eindhoven/PhD/TRNSYS/Publication1/pub_1/src')
for i in np.arange(3):
    with open('readme'+'.txt', 'w') as f:
        f.close()
df = pd.read_csv('readme.txt', delimiter='\t', header=None)

EmptyDataError: No columns to parse from file

In [15]:
f