In [1]:
import os
directory = os.getcwd()
sample_folder = '\\res'
res_folder = '\\res\\trn'
os.chdir(directory+res_folder)

In [6]:
import numpy as np
import pandas as pd
test = os.listdir()
avl_labels = [] # avaliable labels in the 
for i in test:
    if '_temp_flow' in i:
        prefix = i[:-14]
    elif '_control_signal' in i:
        prefix = i[:-19]
    elif '_energy' in i:
        prefix = i[:-11]
    else:
        continue
    avl_labels.append(prefix)
print(len(avl_labels))        
avl_labels = np.array(avl_labels)
avl_labels = np.unique(avl_labels)
print(len(avl_labels))
avl_labels

489
163

array(['0', '1', '10', '100', '101', '102', '103', '104', '105', '106',
       '108', '109', '11', '110', '111', '112', '113', '114', '115',
       '116', '117', '118', '119', '12', '120', '121', '122', '123',
       '124', '125', '126', '127', '128', '129', '13', '130', '131',
       '132', '133', '134', '135', '136', '137', '138', '139', '14',
       '140', '142', '144', '145', '146', '147', '148', '149', '15',
       '150', '151', '152', '153', '154', '155', '156', '157', '158',
       '159', '16', '160', '161', '162', '163', '164', '165', '17', '18',
       '19', '2', '20', '21', '22', '23', '24', '25', '26', '27', '28',
       '29', '3', '30', '31', '32', '33', '34', '35', '36', '37', '38',
       '39', '4', '40', '41', '42', '43', '44', '45', '46', '47', '48',
       '49', '5', '50', '51', '52', '53', '54', '55', '56', '57', '58',
       '59', '6', '60', '61', '62', '63', '64', '65', '66', '67', '68',
       '69', '7', '70', '71', '72', '73', '74', '75', '76', '77', '78',
       '79', '8', '80', '81', '82', '83', '84', '85', '86', '87', '88',
       '89', '9', '90', '91', '92', '93', '94', '95', '96', '97', '98',
       '99'], dtype='<U3')

In [8]:
os.chdir(directory + sample_folder)
#previous = np.arange(86)
#previous = previous.astype(str)
#previous = pd.DataFrame(previous, columns=['label'])
df3 = pd.read_csv('morris_st_sample.csv')
df4 = pd.read_csv('morris_pvt_sample.csv')
previous = pd.concat([df3,df4], ignore_index=True)
previous = previous.drop_duplicates(ignore_index=True)
previous

    volume  coll_area  flow_rate design_case r_level
0      0.4          8        200          ST      r0
1      0.2          8        200          ST      r0
2      0.2         20        200          ST      r0
3      0.2         20        100          ST      r0
4      0.1          8        100          ST      r0
..     ...        ...        ...         ...     ...
81     0.4         16        200         PVT      r0
82     0.1          8        200         PVT      r0
83     0.4         16         50         PVT      r0
84     0.2         16         50         PVT      r0
85     0.3         16        200         PVT      r0

[86 rows x 5 columns]

In [9]:
df1 = pd.read_csv('morris_st_sample2.csv')
df2 = pd.read_csv('morris_pvt_sample2.csv')
df3 = pd.read_csv('morris_st_sample.csv')
df4 = pd.read_csv('morris_pvt_sample.csv')
dfnew = pd.concat([df1,df2,df3,df4])

dfnew.index = np.arange(len(dfnew))
dfnew = dfnew.drop_duplicates()
dfnew.index = np.arange(len(dfnew))
current_list = pd.merge(dfnew, previous, how='outer', indicator=True)
current_list = current_list[current_list['_merge'] == 'left_only']
current_list.drop(columns=['_merge'], inplace=True)
current_list.index = np.arange(86, 86+len(current_list))
current_list

     volume  coll_area  flow_rate r_level design_case
86      0.4         20         50      r1          ST
87      0.2         20         50      r1          ST
88      0.2         20        100      r1          ST
89      0.2          8        100      r1          ST
90      0.1          8        200      r1          ST
..      ...        ...        ...     ...         ...
161     0.4         20        200      r1         PVT
162     0.4         20        100      r1         PVT
163     0.4          8         50      r0         PVT
164     0.1         16        200      r1         PVT
165     0.1          4        200      r1         PVT

[80 rows x 5 columns]

In [10]:
total_labels = pd.concat([previous,current_list], ignore_index=False).index
total_labels=total_labels.astype(str)
total_labels

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       ...
       '156', '157', '158', '159', '160', '161', '162', '163', '164', '165'],
      dtype='object', length=166)

In [11]:
set(total_labels)-set(avl_labels)

{'107', '141', '143'}

In [15]:
# check length of all files and flag the onces that are incomplete
os.chdir(directory+res_folder)
import pandas as pd
for i in avl_labels:
    df = pd.read_csv(i+'_control_signal.txt', delimiter=',',index_col=0) 
    if len(df) <87601 :
        print(i + ' len = '+str(len(df)))

0 len = 87601
1 len = 87601
10 len = 87601
100 len = 87601
101 len = 87601
102 len = 87601
103 len = 87601
104 len = 87601
105 len = 87601
106 len = 87601
108 len = 87601
109 len = 87601
11 len = 87601
110 len = 87601
111 len = 87601
112 len = 87601
113 len = 87601
114 len = 87601
115 len = 87601
116 len = 87601
117 len = 87601
118 len = 87601
119 len = 87601
12 len = 87601
120 len = 87601
121 len = 87601
122 len = 87601
123 len = 87601
124 len = 87601
125 len = 87601
126 len = 87601
127 len = 87601
128 len = 87601
129 len = 87601
13 len = 87601
130 len = 87601
131 len = 87601
132 len = 87601
133 len = 87601
134 len = 87601
135 len = 87601
136 len = 87601
137 len = 87601
138 len = 87601
139 len = 87601
14 len = 87601
140 len = 87601
142 len = 87601
144 len = 87601
145 len = 87601
146 len = 87601
147 len = 87601
148 len = 87601
149 len = 87601
15 len = 87601
150 len = 87601
151 len = 87601
152 len = 87601
153 len = 87601
154 len = 87601
155 len = 87601
156 len = 87601
157 len = 87601
158 len = 87601
159 len = 87601
16 len = 87601
160 len = 87601
161 len = 87601
162 len = 87601
163 len = 87601
164 len = 87601
165 len = 87601
17 len = 87601
18 len = 87601
19 len = 87601
2 len = 87601
20 len = 87601
21 len = 87601
22 len = 87601
23 len = 87601
24 len = 87601
25 len = 87601
26 len = 87601
27 len = 87601
28 len = 87601
29 len = 87601
3 len = 87601
30 len = 87601
31 len = 87601
32 len = 87601
33 len = 87601
34 len = 87601
35 len = 87601
36 len = 87601
37 len = 87601
38 len = 87601
39 len = 87601
4 len = 87601
40 len = 87601
41 len = 87601
42 len = 87601
43 len = 87601
44 len = 87601
45 len = 87601
46 len = 87601
47 len = 87601
48 len = 87601
49 len = 87601
5 len = 87601
50 len = 87601
51 len = 87601
52 len = 87601
53 len = 87601
54 len = 87601
55 len = 87601
56 len = 87601
57 len = 87601
58 len = 87601
59 len = 87601
6 len = 87601
60 len = 87601
61 len = 87601
62 len = 87601
63 len = 87601
64 len = 87601
65 len = 87601
66 len = 87601
67 len = 87601
68 len = 87601
69 len = 87601
7 len = 87601
70 len = 87601
71 len = 87601
72 len = 87601
73 len = 87601
74 len = 87601
75 len = 87601
76 len = 87601
77 len = 87601
78 len = 87601
79 len = 87601
8 len = 87601
80 len = 87601
81 len = 87601
82 len = 87601
83 len = 87601
84 len = 87601
85 len = 87601
86 len = 87601
87 len = 87601
88 len = 87601
89 len = 87601
9 len = 87601
90 len = 87601
91 len = 87601
92 len = 87601
93 len = 87601
94 len = 87601
95 len = 87601
96 len = 87601
97 len = 87601
98 len = 87601
99 len = 87601

In [6]:
existing = pd.read_csv('list_of_inputs.csv',header=0)
keys = existing.columns.values
os.chdir(directory + sample_folder)
df1 = pd.read_csv('morris_st_sample2.csv')
df2 = pd.read_csv('morris_pvt_sample2.csv')
df3 = pd.read_csv('morris_st_sample.csv')
df4 = pd.read_csv('morris_pvt_sample.csv')
dfnew = pd.concat([df1,df2,df3,df4])

dfnew.index = np.arange(len(dfnew))

dfnew = dfnew.drop_duplicates()
dfnew.index = np.arange(len(dfnew))

df=pd.merge(dfnew, existing, how='outer', indicator=True)
#df = df[df['_merge'] == 'left_only']
#df.drop(columns=['_merge'], inplace=True)
#df.index = np.arange(len(df))

In [7]:
len(dfnew)

166

In [55]:
print(len(df1))
print(len(existing))
print(len(dfnew))

160
164
166

In [54]:
print(existing.keys())
print(dfnew.keys())

Index(['volume', 'coll_area', 'flow_rate', 'design_case', 'r_level'], dtype='object')
Index(['volume', 'coll_area', 'flow_rate', 'r_level', 'design_case'], dtype='object')

In [24]:
sim_results = pd.read_csv('sim_results.csv')
sim_results['lab'] = sim_results['lab'].astype(int)
len(sim_results)

163

In [60]:
dfnew.iloc[86:100]

    volume  coll_area  flow_rate r_level design_case
86     0.2         20        200      r0         PVT
87     0.2         20        100      r0         PVT
88     0.4         20        100      r0         PVT
89     0.4          8        100      r0         PVT
90     0.3         16        200      r0         PVT
91     0.3         16        100      r0         PVT
92     0.1          4        100      r0         PVT
93     0.1          4        100      r1         PVT
94     0.3         20        100      r1         PVT
95     0.1         20        200      r1         PVT
96     0.1          8        200      r0         PVT
97     0.2         16        100      r0         PVT
98     0.4         16        100      r0         PVT
99     0.4          4        100      r0         PVT

In [45]:
x = list(sim_results['lab'])
y = list(dfnew.index)
list(set(y)-set(x))

[164, 165, 150]

In [63]:
dfnew.iloc[150:166]

     volume  coll_area  flow_rate r_level design_case
150     0.1          4         50      r0          ST
151     0.3          4         50      r0          ST
152     0.2         16        200      r0          ST
153     0.3          8        200      r0         PVT
154     0.1          8         50      r0         PVT
155     0.3         20         50      r0         PVT
156     0.1         16        100      r0         PVT
157     0.1         16         50      r0         PVT
158     0.2          4         50      r0         PVT
159     0.3         16         50      r0         PVT
160     0.2          4        100      r0         PVT
161     0.4         20        200      r0         PVT
162     0.2         20         50      r0         PVT
163     0.1          4         50      r0         PVT
164     0.3          4         50      r0         PVT
165     0.2         16        200      r0         PVT

In [69]:
existing.iloc[30:40]

    volume  coll_area  flow_rate design_case r_level
30     0.4         20        200          ST      r0
31     0.2          8        100          ST      r0
32     0.2         20         50          ST      r0
33     0.4         20         50          ST      r0
34     0.3         16        100          ST      r0
35     0.1          4         50          ST      r0
36     0.3          4         50          ST      r0
37     0.2         16        200          ST      r0
38     0.4         16        200          ST      r0
39     0.1          8        200          ST      r0

In [36]:
sobol_labels = []
for i in range(len(df)):
    sobol_labels.append(dfsobol['design_case'][i]+'_V'+str(dfsobol['volume'][i]).replace('.','_')+'_A'+str(dfsobol['coll_area'][i]))
sobol_labels = np.array(sobol_labels)
len(sobol_labels)

86

In [42]:
result = np.concatenate((labels, sobol_labels))

In [43]:
# missing samples from simulation results
set(sobol_labels) - set(labels2)

{'ST_V0_1_A16',
 'ST_V0_1_A20',
 'ST_V0_1_A8',
 'ST_V0_2_A16',
 'ST_V0_2_A20',
 'ST_V0_2_A8',
 'ST_V0_3_A16',
 'ST_V0_3_A20',
 'ST_V0_3_A8',
 'ST_V0_4_A16',
 'ST_V0_4_A20',
 'ST_V0_4_A8'}

In [33]:
sobol_label2 = dfsobol.drop_duplicates()
len(sobol_label2)

86

In [26]:
# add design case to each output file
import pandas as pd
os.chdir('C:/Users/20181270/OneDrive - TU Eindhoven/PhD/TRNSYS/Publication1/pub_1/src')
for i in np.arange(3):
    with open('readme'+'.txt', 'w') as f:
        f.close()
df = pd.read_csv('readme.txt', delimiter='\t', header=None)

EmptyDataError: No columns to parse from file

In [15]:
f